<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <br>
  <h1 align="left">List Songs</h1>
  <% if(alert.message){ %>
    <div class="alert alert-success" role="alert">
        <%= alert.message %>
    </div>
<% } %>
  <div class="container-fluid text-right mb-1">
    <a href="/songs/add"><button type="button" class="btn btn-success">Add Song</button></a>
  </div>
  <% if (data.length) { %>
    <table class="table table-sm table-dark">
      <thead class="table table-sm table-dark">
        <tr>
          <th scope="col">No</th>
          <th scope="col">Title</th>
          <th scope="col">Released Year</th>
          <th scope="col">Genre</th>
          <th scope="col">Artist</th>
          <th style="text-align: center;" scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="table table-sm table-light">
      <% for(let i = 0; i < data.length; i++){ %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= data[i].title%></td>
          <td><%= data[i].released_date %></td>
          <td><%= data[i].genre %></td>
          <td><%= data[i].artist %></td>

          <% if(data[i].role === "admin") {%>
          <td style="text-align: right;">
            
            <a href="/songs/edit/<%=data[i].id%>"><button type="button" class="btn btn-primary">Edit</button></a>  
            <a href="/songs/<%=data[i].id%>/delete" onclick="return confirm('Delete this?')"><button type="button" class="btn btn-primary">Delete</button></a>  
            <a href="/playlist/add/<%=data[i].id%>"><button type="button" class="btn btn-primary">Add to Playlist</button></a>
            <a href="/songs/favourite/<%=data[i].id%>"><button type="button" class="btn btn-primary">Favourited by</button></a>  
          </td>
          <% } else { %>
            <td style="text-align: right;">
              <a href="/playlist/add/<%=data[i].id%>"><button type="button" class="btn btn-primary">Add to Playlist</button></a>
              <a href="/songs/favourite/<%=data[i].id%>"><button type="button" class="btn btn-primary">Favourited by</button></a>  
            </td>

          <% } %>
      <% } %>
    </tbody>
  </table>
  <% }else{ %>
    <div class="alert alert-dark" role="alert">
      <h3 style="text-align: center;">List not found!!</h3>
    </div>
    <%}%>
    </tbody>
  </table>
</body>
</html> 